@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap");

:root {
  /*color*/
  --blue-color: #353353;
  --blue-color-b: #302f4e;
  --blue-color-c: #4a4865;
  --yellow-color: #ffd15c;
  --red-color: #ff4c60;
  --blue-sky-color: #6c6ce5;
  --white-color: #ffffff;
  --gray-color:  #454360;
 
  /*font*/
  --body-font: "Rubik", sans-serif;
  --font-medium: 500;
  --font-bold: 700;

  --font-nav:18px;
  --font-bigtitle:70px;
  --font-body:16px;
  --font-body-list:13px;
  --font-button:19px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}
a,
button {
  color: var(--white-color);
  font-weight: var(--font-bold);
}
ul{
  list-style: none;
}
nav {
  margin: 0 auto;
  padding: 0 60px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  font-family: var(--body-font);
  background-color: var(--blue-color);
  border-bottom: 2px solid var(--blue-color-c);
  z-index: 2;
}
.logo {
  color: var(--white-color);
  font-size: 25px;
  cursor: pointer;
}

.link {
  align-items: center;
  width: 30%;
}
.link .nav_link {
  display: flex;
  justify-content: space-between;
}
.link .nav_link li {
  font-size: var(--font-nav);
}
.link .nav_link li .btnContact {
  padding: 3px 20px;
  border-radius: 9px;
  border: 4px solid var(--red-color);
  transition: all 0.2s ease-in-out;
}
.link .nav_link li .btnContact:hover {
  background-color: var(--red-color);
  color: var(--white-color);
  transition: all 0.2s ease-in-out;
}
.link .nav_link a:hover,
.active {
  color: var(--yellow-color);
  transition: all 0.2s ease-in-out;
}

/*Hamburger*/

.menu-btn {
  position: relative;
  /* display: inline-flex;*/
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  width: 30px;
  height: 3px;
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
/*Animation*/
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
/*Hamburger END*/

@media screen and (max-width: 1090px) {
    nav {
      z-index: 1;
      padding: 0 30px;
  
    }
    .link {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: -100%;
      left: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      margin: 0 auto;
      padding: 40px 0 0;
      background-color: var(--blue-color);
      transition: 0.4s;
      z-index: -1;
    }
  
    .link .nav_link {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
    }
    .link .nav_link li:nth-child(4) {
      margin-bottom: 40px;
    }
    .link .nav_link li {
      font-size: 2vw;
    }
    .link .nav_link li:not(:nth-child(1)) {
      margin-top: 30%;
    }
    /* Show menu */
    .show-menu {
      top: 40px;
    }
    .menu-btn {
      display: inline-flex;
    }
}